@import url("https://www.w3schools.com/w3css/4/w3.css");

body,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif
}

body {
  font-size: 16px;
  background-color: #050510;
}

h1{color:#fff}
p {color:#c1c1c1}

a:visited.url, a.url{text-decoration: none;
color: #59abe3;}
a:hover.url {
    color: hotpink;
    text-decoration: none;
}



h2, h3{
  color: white;
}
h2.game {color: #80BB41;}
